<section class="institution-menu">
  <div class="container">
    <div class="institution-content">
      <div class="institution-header">
        <div class="inst-logo"><img src="img/search-logo.png" alt=""></div>
        <div class="inst-head-info">
          <div class="inst-head-rating">
            <div class="star">
              <svg class="icon-svg-star">
                <!-- <svg class="icon-svg-star" ng-repeat="t in getTimes(item.placeRate) track by $index"> -->
                <use xlink:href="img/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
          <div class="inst-head-name">BAO Modern Chinese Cuisine</div>
        </div>
        <div class="back-to-search">
          <svg class="icon-svg-close">
            <use xlink:href="img/sprite.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="inst-menu-list">
        <div class="inst-menu-item">
          <div class="inst-menu-item-common">
          	<div class="inst-menu-item-left">
          		<div class="inst-menu-item-ico">
          		  <svg class="icon-svg-menu-first">
          		    <use xlink:href="img/sprite.svg#menu-first" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          		  </svg>
          		</div>
          		<div class="inst-menu-item-name">Первые блюда</div>
          	</div>
          	<div class="inst-menu-item-right">
          		<div class="inst-menu-item-weight">Вес</div>
          		<div class="inst-menu-item-price">Цена</div>
          	</div>
          </div>
          <div class="menu-sub-list">
          	<div class="menu-sub-list-item">
          		<div class="menu-sub-item-left">
          			<div class="menu-sub-item-name">Стейк</div>
          		</div>
          		<div class="menu-sub-item-right">
          			<div class="inst-menu-item-weight">100</div>
          			<div class="inst-menu-item-price">200</div>
          		</div>
          	</div>
          	<div class="menu-sub-list-item">
          		<div class="menu-sub-item-left">
          			<div class="menu-sub-item-name">Куриная отбивная</div>
          		</div>
          		<div class="menu-sub-item-right">
          			<div class="inst-menu-item-weight">100</div>
          			<div class="inst-menu-item-price">250</div>
          		</div>
          	</div>
          	<div class="menu-sub-list-item">
          		<div class="menu-sub-item-left">
          			<div class="menu-sub-item-name">Свинная отбивная</div>
          		</div>
          		<div class="menu-sub-item-right">
          			<div class="inst-menu-item-weight">100</div>
          			<div class="inst-menu-item-price">350</div>
          		</div>
          	</div>
          </div>
        </div>
        <div class="inst-menu-item">
          <div class="inst-menu-item-common">
          	<div class="inst-menu-item-left">
          		<div class="inst-menu-item-ico">
          		  <svg class="icon-svg-menu-hot">
          		    <use xlink:href="img/sprite.svg#menu-hot" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          		  </svg>
          		</div>
          		<div class="inst-menu-item-name">Горячее</div>
          	</div>
          	<div class="inst-menu-item-right">
          		<div class="inst-menu-item-weight">Вес</div>
          		<div class="inst-menu-item-price">Цена</div>
          	</div>
          </div>
          <div class="menu-sub-list">
          	<div class="menu-sub-list-item">
          		<div class="menu-sub-item-left">
          			<div class="menu-sub-item-name">Стейк</div>
          		</div>
          		<div class="menu-sub-item-right">
          			<div class="inst-menu-item-weight">100</div>
          			<div class="inst-menu-item-price">200</div>
          		</div>
          	</div>
          	<div class="menu-sub-list-item">
          		<div class="menu-sub-item-left">
          			<div class="menu-sub-item-name">Куриная отбивная</div>
          		</div>
          		<div class="menu-sub-item-right">
          			<div class="inst-menu-item-weight">100</div>
          			<div class="inst-menu-item-price">250</div>
          		</div>
          	</div>
          	<div class="menu-sub-list-item">
          		<div class="menu-sub-item-left">
          			<div class="menu-sub-item-name">Свинная отбивная</div>
          		</div>
          		<div class="menu-sub-item-right">
          			<div class="inst-menu-item-weight">100</div>
          			<div class="inst-menu-item-price">350</div>
          		</div>
          	</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>