<section class="institution">
  <div class="container">
    <div class="institution-content">
      <div class="institution-header">
        <div class="inst-logo"><img src="img/search-logo.png" alt=""></div>
        <div class="inst-head-info">
          <div class="inst-head-rating">
            <div class="star">
              <svg class="icon-svg-star">
              <!-- <svg class="icon-svg-star" ng-repeat="t in getTimes(item.placeRate) track by $index"> -->
                <use xlink:href="img/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
          <div class="inst-head-name">BAO Modern Chinese Cuisine</div>
        </div>
        <div class="back-to-search">
          <svg class="icon-svg-close">
            <use xlink:href="img/sprite.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
      <div class="institution-cover">
        <img src="img/cafe-cover.png" alt="">
      </div>
      <div class="dis-ard">
        <div class="inst-adr">
          <svg class="icon-svg-map-marker">
            <use xlink:href="img/sprite.svg#map-marker-2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <span>ул. Мечникова, 14/1</span>
        </div>
        <div class="inst-dist">~7 км</div>
      </div>
      <div class="act-btns">
        <div class="act-btn-call">
          <svg class="icon-svg-call">
            <use xlink:href="img/sprite.svg#call" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <span>позвонить</span>
        </div>
        <div class="act-btns-common">
          <div class="act-btn-like">
            <svg class="icon-svg-heart">
              <use xlink:href="img/sprite.svg#heart" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="act-btn-share">
            <svg class="icon-svg-share">
              <use xlink:href="img/sprite.svg#share" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="work-time">
        <svg class="icon-svg-clock">
              <use xlink:href="img/sprite.svg#clock" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        <div class="work-time-item weekdays"><span>пн-чт:</span>  10:00 - 23:00</div>
        <div class="work-time-item weekend"><span>вт-вс:</span>  10:00 - 24:00</div>
      </div>
      <div class="inst-services">
        <svg class="icon-svg-purse">
          <use xlink:href="img/sprite.svg#purse" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <svg class="icon-svg-card">
          <use xlink:href="img/sprite.svg#card" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <svg class="icon-svg-parking">
          <use xlink:href="img/sprite.svg#parking" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <svg class="icon-svg-delivery">
          <use xlink:href="img/sprite.svg#delivery" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </div> 
      <h2 class="inst-header">
        <svg class="icon-svg-kitchen-2">
          <use xlink:href="img/sprite.svg#kitchen-2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>КУХНЯ</span>
      </h2>
      <ul class="inst-kitchen-info">
        <li class="inst-kitchen-info-item">Китайская</li>
        <li class="inst-kitchen-info-item">Подходит для вегетарианцев</li>
        <li class="inst-kitchen-info-item">Для веганов</li>
      </ul>
      <h2 class="inst-header">
        <svg class="icon-svg-info">
          <use xlink:href="img/sprite.svg#info" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
        <span>КУХНЯ</span>
      </h2>
      <p class="inst-info">Первый в Украине ресторан Современные китайской кухни, где сконцентрирована мощная энергия крупнейших мировых мегаполисов.</p>

      <!-- <h2></h2> -->
    </div>
  </div>
</section>