<section class="institution-reviews">
  <div class="container">
    <div class="inst-reviews-list">
      <div class="institution-header">
        <div class="inst-logo"><img src="img/cafe_info/logo/{{dataCafeInfo.placeLogo}}" alt=""></div>
        <div class="inst-head-info">
          <div class="inst-head-rating">
            <div class="star" ng-repeat="i in getStarsCafeArr(starsNum) track by $index">
              <svg class="icon-svg-star">
                <use xlink:href="img/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
          <div class="inst-head-name">{{dataCafeInfo.placeTitle}}</div>
        </div>
      </div>
      <div class="inst-reviews-item" ng-repeat="comment in dataComments">
        <div class="inst-reviews-item-person">
          <img src="img/cafe_info/comments/{{comment.userPhoto}}" alt="">
        </div>
        <div class="inst-reviews-item-info">
          <div class="inst-reviews-item-date">{{comment.userDate}}</div>
          <div class="inst-reviews-item-rating">
            <div class="star" ng-repeat="it in getStarsCafeArr(+comment.useruserRate) track by $index">
              <svg class="icon-svg-star">
                <use xlink:href="img/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="inst-reviews-item-info-full"><span>{{comment.userName}}:</span> {{comment.userComment}}</div>
      </div>
    </div>
  </div>
</section>