<section class="kitchen-s1">
  <div class="container">
    <div class="kitchen-page-result">
    	<div class="kitchen-category" ng-repeat="item in dataKitchen">
  			<span class="kitchen-category-val">{{item.firstLetter}}</span>
  			<div class="kitchen-category-item" ng-repeat="i in item.items">
  				<div class="kitchen-category-item-name">{{i.kitchenTitle}}</div>
  				<div class="kitchen-category-item-count">{{i.kitchenCount}}</div>
  			</div>
    	</div>
    </div>
    <div ui-view class="view-content-kitchen"></div>
 <!--    <button class="kitchen-page-btn">
      <svg class="icon-svg-settings">
        <use xlink:href="img/sprite.svg#settings" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <span>фильтр</span>
    </button> -->
  </div>
</section>