<section class="search-s1">
  <div class="container">
    <div class="search-page-field">
      <input class="search-page-inp" type="text" placeholder="burger" />
      <div class="sort-container">
        <div class="sort-btn active">
          <svg class="icon-svg-map-marker">
            <use xlink:href="img/sprite.svg#map-marker" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="sort-btn">
          <svg class="icon-svg-star">
            <use xlink:href="img/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="sort-btn">
          <svg class="icon-svg-baks">
            <use xlink:href="img/sprite.svg#baks" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="search-page-result">
      <div class="search-page-result-item" ng-repeat="item in dataSearch">
        <div class="search-result-i-logo"><img src="{{item.placeLogo}}" alt=""></div>
        <div class="search-result-i-info">
          <div class="search-result-i-rating">
            <div class="star" >
              <svg class="icon-svg-star" ng-repeat="t in getTimes(item.placeRate) track by $index">
                <use xlink:href="img/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
          <div class="search-result-i-name">{{item.placeTitle}}</div>
        </div>
        <div class="search-page-result-i-dist">{{item.placeDistance}} км</div>
        <div class="search-result-i-dist__val">~{{item.placePrice}}</div>
      </div>
    </div>
    <button class="search-page-btn">искать</button>
  </div>
</section>