<section class="special-offers">
  <div class="container">
    <div class="offers-result">
      <p>Eatspot - for those who like to eat deliciously and appreciate their time.</p>
      <p>Eatspot helps you find a familiar dish in an absolutely unfamiliar city, find out its price and choose the most convenient route for you to the destination.</p>
      <p>Eatspot booking allows you to see the map of planting the institution and choose the most convenient time for you and the table. On request, you can specify the exact time the dishes are ready.</p>
      <p>Eatspot booking for restaurants will help the administration of the establishments monitor the number of visitors, as well as the amount of food requested.</p>
      <p>Thanks to the system of payments in Eatspot, you can pay for your dinner card, which is tied to your account.</p>
      <p>The Eatspot accumulation system will allow its users to receive discounts and bonuses.</p>
      <p>Eatspot will notify you of promotions and discounts on your favorite dishes</p>
      <p>Eatspot - delivery of favorite dishes.</p>
      <p>Thanks to Eatspot's rating you are always aware of the preferences of the majority of the city's residents.</p>
      <p>Eatspot event will help you find the most suitable places for your event, be it a romantic dinner or a business lunch.</p>
      <p>Eatspot. Your tasty life.</p>
    </div>
  </div>
</section>