header {
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 15px;
  }
  .page-title {
    color: #54D6F0;
    @extend %sm;
    font-size: 13px;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    line-height: 1;
    color: #54D6F0; // transition: all .15s ease-in-out;
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(300px, 0, 0);
    transition: transform .2s ease-in-out;
    will-change: transform;

    svg {
      display: inline-block;
    }

    .icon-svg-logo-part-1 {
      width: 24px;
      height: 27px;
      fill: #ffc300;
    }
    .icon-svg-logo-part-2 {
      width: 39px;
      height: 12px;
      margin: 5px 0 0 4px;
      fill: #CACCD1;
    }

    &.start-page-logo {

      transform: translate3d(0, 0, 0);
    }
  }
}