.nav-1 {
  height: 51px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 100%, 0);
  will-change: transform;
  transition: transform .3s ease-in-out;

  &.nav-show {
    transform: translate3d(0, 0, 0);
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  svg {
    fill: #D6D9DE;
    transition: fill .1s ease-in-out;
  }

  .menu-icon-svg-menu {
    width: 28px;
    height: 19px;
  }

  .nav-item {


    &.active {
      svg{

      fill: #54D6F0;
      }
    }
    
  }
  

  .menu-icon-svg-search {
    width: 25px;
    height: 25px;
  }

  .menu-icon-svg-kitchen {
    width: 27px;
    height: 26px;
  }

  .menu-icon-svg-map-marker {
    width: 19px;
    height: 26px;

  }
  .menu-icon-svg-heart {
    width: 27px;
    height: 24px;
  }

  .menu-icon-svg-menu-btn-logo {
    width: 23px;
    height: 25px;
  }
}