.index-s1 .login-header, .institution .inst-dist, .institution .act-btns span, .institution .inst-header span {
  font-family: "SFPDisplayBold"; }

.index-s1 .btn-place-s-txt, .index-s1 .btn-place-s-txt-1, .index-s1 .index-menu-item span, .search-s1 .search-page-inp, .search-s1 .search-page-result-i-dist, .search-s1 .search-result-i-dist__val, .search-s1 .search-page-btn, .kitchen-s1 .kitchen-category-val, .kitchen-s1 .kitchen-category-item-count, .kitchen-s1 .kitchen-page-btn span, .institution .inst-adr span, .institution .work-time-item, .institution .inst-kitchen-info-item, .institution .inst-info, .institution-menu .inst-menu-item-right, .institution-menu .inst-menu-item-name, .institution-menu .menu-sub-list-item {
  font-family: "SFPDisplayLight"; }

header .page-title, .nav-2 .nav-item span, .index-s1 .back-link, .search-s1 .search-result-i-name, .kitchen-s1 .kitchen-category-item-name, .institution .inst-head-name, .institution .work-time-item span, .institution-menu .inst-head-name {
  font-family: "SFPDisplayMedium"; }

/*
================================================================================
|                                     reset                                     |
================================================================================
*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

ul, menu, p {
  padding: 0;
  margin: 0; }

input, textarea {
  outline: 0;
  border: 0; }

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

html, body {
  font-size: 14px; }

body {
  position: relative;
  font-weight: normal;
  margin: 0 auto;
  padding: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none;
  cursor: default; }

a {
  text-decoration: none;
  color: inherit; }

button {
  display: block;
  font: inherit;
  line-height: normal;
  color: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

/*
================================================================================
|                                     Fonts                                    |
================================================================================
*/
@font-face {
  font-family: "SFPDisplayBold";
  src: url("../fonts/SFPDisplayBold/SFPDisplayBold.eot");
  src: url("../fonts/SFPDisplayBold/SFPDisplayBold.eot") format("embedded-opentype"), url("../fonts/SFPDisplayBold/SFPDisplayBold.woff2") format("woff2"), url("../fonts/SFPDisplayBold/SFPDisplayBold.woff") format("woff"), url("../fonts/SFPDisplayBold/SFPDisplayBold.ttf") format("truetype"), url("../fonts/SFPDisplayBold/SFPDisplayBold.svg#SFPDisplayBold") format("svg"); }

@font-face {
  font-family: "SFPDisplayLight";
  src: url("../fonts/SFPDisplayLight/SFPDisplayLight.eot");
  src: url("../fonts/SFPDisplayLight/SFPDisplayLight.eot") format("embedded-opentype"), url("../fonts/SFPDisplayLight/SFPDisplayLight.woff2") format("woff2"), url("../fonts/SFPDisplayLight/SFPDisplayLight.woff") format("woff"), url("../fonts/SFPDisplayLight/SFPDisplayLight.ttf") format("truetype"), url("../fonts/SFPDisplayLight/SFPDisplayLight.svg#SFPDisplayLight") format("svg"); }

@font-face {
  font-family: "SFPDisplayMedium";
  src: url("../fonts/SFPDisplayMedium/SFPDisplayMedium.eot");
  src: url("../fonts/SFPDisplayMedium/SFPDisplayMedium.eot") format("embedded-opentype"), url("../fonts/SFPDisplayMedium/SFPDisplayMedium.woff2") format("woff2"), url("../fonts/SFPDisplayMedium/SFPDisplayMedium.woff") format("woff"), url("../fonts/SFPDisplayMedium/SFPDisplayMedium.ttf") format("truetype"), url("../fonts/SFPDisplayMedium/SFPDisplayMedium.svg#SFPDisplayMedium") format("svg"); }

/*
================================================================================
|                                     Start rools                              |
================================================================================
*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

body {
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent; }

section {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 51px 0;
  height: 100vh; }

html,
body {
  height: 100%;
  min-height: 506px;
  overflow: hidden; }

.container {
  padding: 0 6px;
  width: 100%;
  margin: 0 auto; }

.search_field {
  position: absolute;
  top: 5px;
  left: 6px;
  right: 6px;
  z-index: 100;
  transform: translate3d(0, -200px, 0);
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;
  will-change: transform; }
  .search_field.show-search_field {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible; }

#findCity_input {
  display: block;
  background-color: #fff;
  margin: 0 auto;
  font-size: 18px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100%;
  height: 48px;
  background: #FFFFFF;
  background: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000'); }

.pac-logo:after {
  display: none; }

.pac-container {
  border-radius: 3px; }

.pac-item {
  line-height: 42px;
  border: none;
  font-size: 15px; }

.pac-item-query {
  font-size: 15px; }

.pac-icon {
  margin-top: 9px; }

.view-content.ng-animate {
  transition: all 0.5s ease-in-out; }

.view-content.ng-enter, .view-content.ng-leave {
  transition: all .5s ease-in-out; }

.view-content.ng-enter {
  opacity: 0; }

.view-content.ng-enter-active {
  opacity: 1; }

.view-content.ng-leave {
  opacity: 1; }

.view-content.ng-leave-active {
  opacity: 0; }

header {
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 15px; }
  header .page-title {
    color: #54D6F0;
    font-size: 13px;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    color: #54D6F0;
    opacity: 0;
    visibility: hidden; }
    header .page-title.active {
      opacity: 1;
      visibility: visible; }
  header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(300px, 0, 0);
    transition: transform .2s ease-in-out;
    will-change: transform; }
    header .logo svg {
      display: inline-block; }
    header .logo .icon-svg-logo-part-1 {
      width: 24px;
      height: 27px;
      fill: #ffc300; }
    header .logo .icon-svg-logo-part-2 {
      width: 39px;
      height: 12px;
      margin: 5px 0 0 4px;
      fill: #CACCD1; }
    header .logo.start-page-logo {
      transform: translate3d(0, 0, 0); }

.nav-1 {
  height: 51px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 100%, 0);
  will-change: transform;
  transition: transform .3s ease-in-out; }
  .nav-1.nav-show {
    transform: translate3d(0, 0, 0); }
  .nav-1 .container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .nav-1 svg {
    fill: #D6D9DE;
    transition: fill .1s ease-in-out; }
  .nav-1 .menu-icon-svg-menu {
    width: 28px;
    height: 19px; }
  .nav-1 .nav-item.active svg {
    fill: #54D6F0; }
  .nav-1 .menu-icon-svg-search {
    width: 25px;
    height: 25px; }
  .nav-1 .menu-icon-svg-kitchen {
    width: 27px;
    height: 26px; }
  .nav-1 .menu-icon-svg-map-marker {
    width: 19px;
    height: 26px; }
  .nav-1 .menu-icon-svg-heart {
    width: 27px;
    height: 24px; }

.nav-2 {
  height: 51px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 100%, 0);
  will-change: transform;
  transition: transform .3s ease-in-out; }
  .nav-2.nav-show {
    transform: translate3d(0, 0, 0); }
  .nav-2 .container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .nav-2 svg {
    fill: #D6D9DE;
    transition: fill .1s ease-in-out; }
  .nav-2 .menu-icon-svg-menu {
    width: 28px;
    height: 19px; }
  .nav-2 .nav-item:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav-2 .nav-item:first-of-type svg {
      margin-right: 5px; }
  .nav-2 .nav-item span {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.15px;
    color: #D6D9DE; }
  .nav-2 .nav-item.active svg {
    fill: #54D6F0; }
  .nav-2 .icon-svg-arr-back {
    width: 7.5px;
    height: 15px; }
  .nav-2 .menu-icon-svg-info {
    width: 25px;
    height: 25px; }
  .nav-2 .menu-icon-svg-appliances {
    width: 20px;
    height: 23px; }
  .nav-2 .menu-icon-svg-map-marker-2 {
    width: 19px;
    height: 26px; }
  .nav-2 .menu-icon-svg-rating {
    width: 26px;
    height: 25px; }

.index-s1 {
  padding: 51px 0 35px;
  text-align: center;
  position: static;
  overflow: hidden; }
  .index-s1 .container {
    max-width: 320px;
    overflow: hidden; }
  .index-s1 .start-page-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px; }
    .index-s1 .start-page-logo .icon-svg-logo-part-1 {
      width: 65px;
      height: 71px;
      fill: #ffc300; }
    .index-s1 .start-page-logo .icon-svg-logo-part-2 {
      width: 104px;
      height: 32px;
      margin: 10px 0 0 5px;
      fill: #CACCD1; }
  .index-s1 .steps-wrapper {
    display: flex;
    width: 200%; }
    .index-s1 .steps-wrapper .first-step-auth, .index-s1 .steps-wrapper .second-step-auth {
      width: 308px;
      transition: transform .2s ease-in-out;
      transform: translate3d(0, 0, 0); }
      .index-s1 .steps-wrapper .first-step-auth.active, .index-s1 .steps-wrapper .second-step-auth.active {
        transform: translate3d(-100%, 0, 0); }
  .index-s1 .login-header {
    font-size: 13px;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    color: #CACCD1;
    margin-bottom: 20px; }
  .index-s1 .authorization-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 168px;
    margin: 0 auto 47px; }
  .index-s1 .btn-place-search {
    width: 178px;
    height: 37px;
    background: #FFFFFF;
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 0 auto 20px; }
  .index-s1 .btn-place-s-txt {
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #757A80; }
  .index-s1 .btn-place-next {
    position: relative;
    width: 178px;
    height: 37px;
    background: #FFC300;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out; }
    .index-s1 .btn-place-next.active {
      opacity: 1;
      visibility: visible; }
  .index-s1 .btn-place-s-txt-1 {
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #FFFFFF; }
  .index-s1 .icon-svg-arr-next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 9.6px;
    height: 16.5px;
    fill: #ffffff; }
  .index-s1 .icon-svg-search {
    width: 16.8px;
    height: 16.8px;
    fill: #D6D9DE;
    margin: 0 10px; }
  .index-s1 .back-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.15px;
    color: #D6D9DE; }
    .index-s1 .back-link span {
      display: inline-block;
      vertical-align: middle; }
  .index-s1 .icon-svg-arr-back {
    display: inline-block;
    vertical-align: middle;
    width: 7.5px;
    height: 15px;
    fill: #D6D9DE;
    margin-right: 5px; }
  .index-s1 .index-menu {
    max-width: 183px;
    margin: 0 auto; }
  .index-s1 .index-menu-item {
    margin-bottom: 25px; }
    .index-s1 .index-menu-item .menu-icon-svg-box {
      display: flex;
      width: 40px;
      align-items: center;
      justify-content: center; }
    .index-s1 .index-menu-item a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; }
    .index-s1 .index-menu-item span {
      font-size: 15px;
      letter-spacing: 0.38px;
      color: #757A80;
      margin-left: 10px; }
    .index-s1 .index-menu-item svg {
      fill: #D6D9DE; }
  .index-s1 .menu-icon-svg-search {
    width: 28px;
    height: 28px; }
  .index-s1 .menu-icon-svg-kitchen {
    width: 37px;
    height: 35px; }
  .index-s1 .menu-icon-svg-map-marker {
    width: 28px;
    height: 38px; }
  .index-s1 .menu-icon-svg-heart {
    width: 36px;
    height: 32px; }

.search-s1 .container {
  position: relative;
  height: 100%; }

.search-s1 .search-page-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
  margin-bottom: 6px; }

.search-s1 .search-page-inp {
  width: 182px;
  height: 37px;
  padding: 0 10px;
  font-size: 15px;
  letter-spacing: 0.38px;
  color: #757A80; }

.search-s1 .sort-container {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .search-s1 .sort-container svg {
    fill: #D6D9DE;
    transition: fill .25s ease-in-out; }

.search-s1 .sort-btn {
  position: relative;
  padding-right: 14px; }
  .search-s1 .sort-btn:after {
    transition: transform .25s ease-in-out, border-bottom-color .25s ease-in-out;
    transform: rotate(0);
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #D6D9DE;
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    margin-top: -2px; }
  .search-s1 .sort-btn.active:after {
    transform: rotate(180deg);
    border-bottom-color: #54D6F0; }
  .search-s1 .sort-btn.active svg {
    fill: #54D6F0; }

.search-s1 .icon-svg-map-marker {
  width: 12.5px;
  height: 17px; }

.search-s1 .icon-svg-star {
  width: 16px;
  height: 16px; }

.search-s1 .icon-svg-baks {
  width: 10px;
  height: 16px; }

.search-s1 .search-page-result {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
  border-radius: 3px;
  padding: 0 10px;
  margin: 0;
  overflow: auto;
  /* !important is needed sometimes */
  /* Track */
  /* Handle */ }
  .search-s1 .search-page-result::-webkit-scrollbar {
    width: 2px !important; }
  .search-s1 .search-page-result::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important; }
  .search-s1 .search-page-result::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #41617D !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important; }
  .search-s1 .search-page-result::-webkit-scrollbar-thumb:window-inactive {
    background: #41617D !important; }

.search-s1 .search-page-result-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px; }
  .search-s1 .search-page-result-item:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #EAECED; }

.search-s1 .search-result-i-logo {
  max-height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-s1 .search-result-i-logo img {
    max-width: 28px; }

.search-s1 .search-result-i-info {
  position: relative;
  width: 111px;
  overflow: hidden; }

.search-s1 .search-result-i-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .search-s1 .search-result-i-rating .star {
    margin-right: 2px; }
  .search-s1 .search-result-i-rating .icon-svg-star {
    width: 9px;
    height: 9px;
    fill: #FFC300; }

.search-s1 .search-result-i-name {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.14px;
  color: #757A80; }

.search-s1 .search-page-result-i-dist {
  height: 30px;
  width: 50px;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.13px;
  color: #757A80;
  display: flex;
  align-items: flex-end; }

.search-s1 .search-result-i-dist__val {
  width: 40px;
  height: 30px;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.13px;
  color: #606060;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.search-s1 .search-page-btn {
  width: 100%;
  display: block;
  background-color: #54D6F0;
  border-radius: 3px;
  height: 36px;
  font-size: 15px;
  letter-spacing: 0.38px;
  color: #ffffff;
  margin-top: 6px; }

.kitchen-s1 .container {
  position: relative;
  height: 100%; }

.kitchen-s1 .kitchen-page-result {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
  padding: 24px 10px 24px 18px;
  margin: 0;
  overflow: auto;
  border-radius: 3px;
  /* Track */
  /* Handle */ }
  .kitchen-s1 .kitchen-page-result::-webkit-scrollbar {
    width: 2px !important; }
  .kitchen-s1 .kitchen-page-result::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important; }
  .kitchen-s1 .kitchen-page-result::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #41617D !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important; }
  .kitchen-s1 .kitchen-page-result::-webkit-scrollbar-thumb:window-inactive {
    background: #41617D !important; }
  .kitchen-s1 .kitchen-page-result:after {
    position: absolute;
    bottom: 38px;
    left: 0;
    right: 0;
    display: block;
    content: '';
    height: 70px;
    background: -moz-linear-gradient(50% 92.62% 90deg, white 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, 50% 92.62%, 50% 3.93%, color-stop(0, white), color-stop(1, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
    background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF' , GradientType=0); }

.kitchen-s1 .kitchen-category {
  position: relative;
  padding-left: 30px;
  margin-bottom: 7px; }

.kitchen-s1 .kitchen-category-val {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #757A80;
  text-transform: uppercase; }

.kitchen-s1 .kitchen-category-item {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.kitchen-s1 .kitchen-category-item-name {
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #757A80; }

.kitchen-s1 .kitchen-category-item-count {
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #757A80; }

.kitchen-s1 .kitchen-page-btn {
  width: 100%;
  background-color: #54D6F0;
  border-radius: 3px;
  height: 36px;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .kitchen-s1 .kitchen-page-btn svg {
    width: 15.4px;
    height: 15px;
    margin-right: 15px;
    fill: #ffffff; }
  .kitchen-s1 .kitchen-page-btn span {
    letter-spacing: 0.38px;
    font-size: 15px;
    color: #ffffff; }

.institution .container {
  position: relative;
  height: 100%; }

.institution .institution-content {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
  overflow: auto;
  border-radius: 3px;
  /* Track */
  /* Handle */ }
  .institution .institution-content::-webkit-scrollbar {
    width: 2px !important; }
  .institution .institution-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important; }
  .institution .institution-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #41617D !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important; }
  .institution .institution-content::-webkit-scrollbar-thumb:window-inactive {
    background: #41617D !important; }

.institution .institution-header {
  position: relative;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px; }

.institution .inst-logo {
  min-width: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .institution .inst-logo img {
    min-width: 30px; }

.institution .inst-head-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .institution .inst-head-rating .star {
    margin-right: 2px; }
  .institution .inst-head-rating .icon-svg-star {
    width: 9px;
    height: 9px;
    fill: #FFC300; }

.institution .inst-head-name {
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #757A80; }

.institution .back-to-search {
  position: absolute;
  top: 12px;
  right: 10px; }

.institution .icon-svg-close {
  width: 17px;
  height: 17px;
  fill: #D6D9DE; }

.institution .institution-cover {
  height: 173px; }

.institution .dis-ard {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.institution .inst-adr {
  display: flex;
  justify-content: center;
  align-items: center; }
  .institution .inst-adr span {
    font-size: 15px;
    line-height: 19px;
    color: #757A80; }
  .institution .inst-adr svg {
    width: 14.6px;
    height: 19px;
    fill: #D6D9DE;
    margin-right: 8px; }

.institution .inst-dist {
  font-size: 15px;
  line-height: 53px;
  letter-spacing: 0.15px;
  color: #757A80; }

.institution .act-btns {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; }
  .institution .act-btns .act-btns-common {
    width: 105px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .institution .act-btns .act-btn-call {
    display: flex;
    justify-content: center;
    align-items: center; }
  .institution .act-btns .icon-svg-call {
    width: 25px;
    height: 25px;
    fill: #54D6F0;
    margin-right: 15px; }
  .institution .act-btns span {
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #54D6F0; }
  .institution .act-btns .icon-svg-heart {
    width: 28px;
    height: 25px;
    fill: #D6D9DE; }
  .institution .act-btns .icon-svg-share {
    fill: #D6D9DE;
    width: 32px;
    height: 25px; }

.institution .work-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px; }
  .institution .work-time .icon-svg-clock {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 10px;
    top: 0;
    fill: #D6D9DE; }

.institution .work-time-item {
  font-size: 15px;
  color: #757A80; }
  .institution .work-time-item span {
    margin-right: 5px; }

.institution .inst-services {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  max-width: 280px;
  height: 58px;
  margin: 0 auto 20px; }
  .institution .inst-services:before, .institution .inst-services:after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    height: 1px;
    border-top: 1px dashed #B0B2B3; }
  .institution .inst-services:before {
    top: 0; }
  .institution .inst-services:after {
    bottom: 0; }
  .institution .inst-services svg {
    display: block;
    fill: #D6D9DE;
    margin-right: 22px; }

.institution .icon-svg-purse {
  width: 23px;
  height: 23px; }

.institution .icon-svg-card {
  width: 33px;
  height: 21px; }

.institution .icon-svg-parking {
  width: 34px;
  height: 21px; }

.institution .icon-svg-delivery {
  width: 28px;
  height: 23px; }

.institution .inst-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  margin-bottom: 8px; }
  .institution .inst-header span {
    font-size: 13px;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    color: #CACCD1; }

.institution .icon-svg-kitchen-2 {
  width: 19px;
  height: 18px;
  fill: #D6D9DE;
  margin-right: 8px; }

.institution .inst-kitchen-info {
  padding: 0 10px;
  margin-bottom: 20px; }

.institution .inst-kitchen-info-item {
  position: relative;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.15px;
  color: #606060;
  padding-left: 27px; }
  .institution .inst-kitchen-info-item:before {
    display: block;
    content: '';
    width: 3px;
    height: 3px;
    background-color: #D6D9DE;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%); }

.institution .icon-svg-info {
  width: 18.5px;
  height: 18.5px;
  fill: #D6D9DE;
  margin-right: 8px; }

.institution .inst-info {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.15px;
  color: #606060;
  padding-left: 37px;
  margin-bottom: 18px; }

.institution-menu .container {
  position: relative;
  height: 100%; }

.institution-menu .institution-content {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
  overflow: auto;
  border-radius: 3px;
  /* Track */
  /* Handle */ }
  .institution-menu .institution-content::-webkit-scrollbar {
    width: 2px !important; }
  .institution-menu .institution-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important; }
  .institution-menu .institution-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #41617D !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important; }
  .institution-menu .institution-content::-webkit-scrollbar-thumb:window-inactive {
    background: #41617D !important; }

.institution-menu .institution-header {
  position: relative;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 15px; }

.institution-menu .inst-logo {
  min-width: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .institution-menu .inst-logo img {
    min-width: 30px; }

.institution-menu .inst-head-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .institution-menu .inst-head-rating .star {
    margin-right: 2px; }
  .institution-menu .inst-head-rating .icon-svg-star {
    width: 9px;
    height: 9px;
    fill: #FFC300; }

.institution-menu .inst-head-name {
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #757A80; }

.institution-menu .back-to-search {
  position: absolute;
  top: 12px;
  right: 10px; }

.institution-menu .icon-svg-close {
  width: 17px;
  height: 17px;
  fill: #D6D9DE; }

.institution-menu .inst-menu-list {
  padding: 0 10px; }

.institution-menu .inst-menu-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px; }
  .institution-menu .inst-menu-item svg {
    fill: #D6D9DE;
    transition: fill .25s ease-in-out; }
  .institution-menu .inst-menu-item.active .menu-sub-list {
    opacity: 1;
    visibility: visible;
    max-height: 300px; }
  .institution-menu .inst-menu-item.active .inst-menu-item-right {
    opacity: 1; }
  .institution-menu .inst-menu-item.active svg {
    fill: #54D6F0; }
  .institution-menu .inst-menu-item.active .inst-menu-item-name {
    color: #54D6F0; }
    .institution-menu .inst-menu-item.active .inst-menu-item-name:before {
      transform: translateY(-50%) rotate(180deg);
      border-top-color: #54D6F0; }

.institution-menu .inst-menu-item-common {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.institution-menu .inst-menu-item-left {
  display: flex;
  justify-content: center;
  align-items: center; }

.institution-menu .inst-menu-item-right {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0.33px;
  color: #54D6F0;
  opacity: 0;
  transition: opacity .25s ease-in-out; }

.institution-menu .inst-menu-item-price {
  width: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.institution-menu .inst-menu-item-weight {
  width: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.institution-menu .inst-menu-item-ico {
  width: 42px; }

.institution-menu .inst-menu-item-name {
  position: relative;
  padding-left: 20px;
  font-size: 15px;
  letter-spacing: 0.38px;
  color: #5D6166;
  transition: fill .25s ease-in-out; }
  .institution-menu .inst-menu-item-name:before {
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #D6D9DE;
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(0);
    transition: transform .25s ease-in-out, border-bottom-color .25s ease-in-out; }

.institution-menu .icon-svg-menu-first {
  width: 29px;
  height: 21px; }

.institution-menu .icon-svg-menu-hot {
  width: 29px;
  height: 19px; }

.institution-menu .menu-sub-list {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all .25s ease-in-out; }

.institution-menu .menu-sub-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0.33px;
  color: #5D6166;
  margin-bottom: 8px; }
  .institution-menu .menu-sub-list-item:first-of-type {
    padding-top: 10px; }

.institution-menu .menu-sub-item-right {
  display: flex;
  align-items: center;
  justify-content: center; }

.institution-menu .menu-sub-item-left {
  flex: 1 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start; }
  .institution-menu .menu-sub-item-left:after {
    flex: 1 0 auto;
    content: '';
    height: 4px;
    border-top: 1px dotted #5D6166;
    margin-left: 5px; }

/*# sourceMappingURL=style.css.map */
