.index-s1 {
  padding: 51px 0 35px;
  text-align: center;
  position: static;
  overflow: hidden;
  
  .container {
    max-width: 320px;
    overflow: hidden;
  }

  .start-page-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;

    .icon-svg-logo-part-1 {
      width: 65px;
        height: 71px;
      fill: #ffc300;
    }
    .icon-svg-logo-part-2 {
       width: 104px;
        height: 32px;
         margin: 10px 0 0 5px;
      fill: #CACCD1;
    }
  }


  .steps-wrapper {
    display: flex;
    width: 200%;
    // margin: 0 auto;
    // white-space: nowrap;
    // vertical-align: top;
    // overflow: visible;

    .first-step-auth, .second-step-auth {
      width: 308px;
      // display: inline-block;
      transition: transform .2s ease-in-out;
      transform: translate3d(0, 0 , 0);


      &.active {
        transform: translate3d(-100%, 0 , 0);
      }

    }
    .first-step-auth {
      // float: left;
      // transform: translate3d(-100%, 0 , 0)
    }

.second-step-auth {
      // display: flex;
      // flex-direction: column;
      // white-space: wrap;
      // flex-wrap: wrap;
    }


  }

  .login-header {
    @extend %sb;
    font-size: 13px;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    color: #CACCD1;
    margin-bottom: 20px;
    // opacity: 0;
    // visibility: hidden;
    // transition: all .15s ease-in-out;

    // &.header-show {
      // opacity: 1;
    // visibility: visible;
    // }
  }


  // .login-header-2-step {

  // }
  .authorization-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 168px;
    margin: 0 auto 47px;
  }

  .btn-place-search {
    width: 178px;
    height: 37px;
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 0 auto 20px;
  }

  .btn-place-s-txt {
    @extend %sl;
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #757A80;
  }

  .btn-place-next {
    position: relative;
    width: 178px;
    height: 37px;
    background: #FFC300;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
    &.active {
      opacity: 1;
    visibility: visible;
    }
  }

  .btn-place-s-txt-1 {
    @extend %sl;
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #FFFFFF;
  }

  .icon-svg-arr-next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 9.6px;
    height: 16.5px;
    fill: #ffffff;
  }

  .icon-svg-search {
    width: 16.8px;
    height: 16.8px;
    fill: #D6D9DE;
    margin: 0 10px;
  }

  .back-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    @extend %sm;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.15px;
    color: #D6D9DE;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .icon-svg-arr-back {
    display: inline-block;
    vertical-align: middle;
    width: 7.5px;
    height: 15px;
    fill: #D6D9DE;
    margin-right: 5px;
  }
    .index-menu {
      max-width: 183px;
      margin: 0 auto;
    }
  .index-menu-item {
    margin-bottom: 25px;

    .menu-icon-svg-box {
      display: flex;
      width: 40px;
      align-items: center;
      justify-content: center;
    }
    

    a{
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    }
    

    span {
  @extend %sl;
  font-size : 15px;
  letter-spacing : 0.38px;
  color : #757A80;
  margin-left: 10px;
    }

    svg {
      fill: #D6D9DE;
    }
  }

  .menu-icon-svg-search {
    width: 28px;
    height: 28px;
  }
  .menu-icon-svg-kitchen {
    width: 37px;
    height: 35px;
  }
  .menu-icon-svg-map-marker {
width: 28px;
    height: 38px;
  }
  .menu-icon-svg-heart {
width: 36px;
    height: 32px;
  }
}