.institution-info {

  .container {
    position: relative;
    height: 100%;
  }

  .institution-content {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
    overflow: auto;
    border-radius: 3px;
    

    &::-webkit-scrollbar {
      width: 2px !important;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
      -webkit-border-radius: 10px !important;
      border-radius: 10px !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px !important;
      border-radius: 10px !important;
      background: #41617D !important;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: #41617D !important;
    }
  }

  .institution-header {
    position: relative;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
  }

  .inst-logo {
    min-width: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      min-width: 30px;
    }
  }

  .inst-head-rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .star {
      margin-right: 2px;
    }
    .icon-svg-star {
      width: 9px;
      height: 9px;
      fill: #FFC300;
    }
  }

  .inst-head-name {
    @extend %sm;
    font-size: 14px; // line-height: 53px;
    letter-spacing: 0.14px;
    color: #757A80;
  }



  .back-to-search {
    position: absolute;
    top: 12px;
    right: 10px;
  }

  .icon-svg-close {
    width: 17px;
    height: 17px;
    fill: #D6D9DE;
  }

  .institution-cover {
    height: auto;

    img {
      width: 100%;
    }
  }

  .dis-ard {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inst-adr {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      @extend %sl;
      font-size: 15px;
      line-height: 19px;
      color: #757A80;
    }

    svg {
      width: 14.6px;
      height: 19px;
      fill: #D6D9DE;
      margin-right: 8px;
    }
  }
  .inst-dist {
    @extend %sb;
    font-size: 15px;
    line-height: 53px;
    letter-spacing: 0.15px;
    color: #757A80;
  }

  .act-btns {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .act-btns-common {
      width: 105px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .act-btn-call {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon-svg-call {
      width: 25px;
      height: 25px;
      fill: #54D6F0;
      margin-right: 15px;
    }
    span {
      @extend %sb;

      font-size: 15px;
      letter-spacing: 0.38px;
      color: #54D6F0;
    }

    .icon-svg-heart {
      width: 28px;
      height: 25px;
      fill: #D6D9DE;
    }

    .icon-svg-share {
      fill: #D6D9DE;
      width: 32px;
      height: 25px;
    }
  }

  .work-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;

    .icon-svg-clock {
      position: absolute;
      width: 19px;
      height: 19px;
      left: 10px;
      top: 0;
      fill: #D6D9DE;
    }
  }

  .work-time-item {
    @extend %sl;
    font-size: 15px; // line-height : 19px;
    color: #757A80;

    span {
      @extend %sm;
      margin-right: 5px;
    }
  }

  .inst-services {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    max-width: 280px;
    height: 58px;
    margin: 0 auto 20px;

    &:before,
    &:after {
      display: block;
      position: absolute; // top:0;
      left: 0;
      right: 0;
      content: ''; // width: 100%;
      height: 1px;
      border-top: 1px dashed #B0B2B3;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }


    svg {
      display: block;
      fill: #D6D9DE;
      margin-right: 22px;
    }
  }

  .icon-svg-purse {
    width: 23px;
    height: 23px;
  }

  .icon-svg-card {
    width: 33px;
    height: 21px;
  }

  .icon-svg-parking {
    width: 34px;
    height: 21px;
  }

  .icon-svg-delivery {
    width: 28px;
    height: 23px;
  }


.inst-header {
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  margin-bottom: 8px;

  span {
    @extend %sb;
  font-size: 13px;
  letter-spacing: 0.13px;
  text-transform: uppercase;
  color: #CACCD1;
  }
}

.icon-svg-kitchen-2 {
  width: 19px;
  height: 18px;
  fill: #D6D9DE;
      margin-right: 8px;
}

.inst-kitchen-info {
  padding: 0 10px;
  margin-bottom: 20px;
  
}
.inst-kitchen-info-item {
  position: relative;
  @extend %sl;
  font-size : 15px;
  line-height : 19px;
  letter-spacing : 0.15px;
  color : #606060;
  padding-left: 27px;

  &:before {
    display: block;
    content: '';
    width: 3px;
    height: 3px;
    background-color: #D6D9DE;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
  }

}

.icon-svg-info {
  width: 18.5px;
  height: 18.5px;
  fill: #D6D9DE;
  margin-right: 8px;
}

.inst-info {
  @extend %sl;
  font-size : 15px;
  line-height : 19px;
  letter-spacing : 0.15px;
  color : #606060;
  padding-left: 37px;
  margin-bottom: 18px;
}


}