.search-s1 {
  position: relative;

  .container {
    position: relative;
    // display: flex;
    // flex-direction: column; // padding-bottom: 51px;
    padding: 0;
    height: 100%;
  }
  .search-page-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
    margin-bottom: 6px;
    position: absolute;
    top: 0;
    left: 6px;
    right: 6px;
    z-index: 1;
  }

  .search-page-inp {
    width: 182px;
    height: 37px;
    padding: 0 10px;
    @extend %sl;
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #757A80;
  }

  .sort-container {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    svg {
      fill: #D6D9DE;
      transition: fill .25s ease-in-out;
    }
  }

  .sort-btn {
    position: relative;
    padding-right: 14px;

    &:after {
      transition: transform .25s ease-in-out, border-bottom-color .25s ease-in-out;
      transform: rotate(0);
      display: inline-block;
      height: 0;
      width: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #D6D9DE;
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      margin-top: -2px;
    }

    &.active {

      &:after {
        transform: rotate(180deg);
        border-bottom-color: #54D6F0;
      }

      svg {
        fill: #54D6F0;
      }
    }
  }

  .icon-svg-map-marker {
    width: 12.5px;
    height: 17px;
  }

  .icon-svg-star {
    width: 16px;
    height: 16px;
  }
  .icon-svg-baks {
    width: 10px;
    height: 16px;
  }

  .search-page-result-wrapper {
    position: relative;
    height: 100%;
    padding: 43px 6px 42px;
  }

  .search-page-result {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2, Color='#000000');
    border-radius: 3px;
    height: 100%;
    // flex: 1 0 auto;
    // display: flex;
    // flex-direction: column;
    padding: 0 10px;
    margin: 0;
    overflow: auto;
        // max-height: 63vh;

      /* !important is needed sometimes */
 &::-webkit-scrollbar {
    width: 2px !important;
 }

 /* Track */
&::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
 }

 /* Handle */
 &::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
   background: #41617D !important; 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 

 }
 &::-webkit-scrollbar-thumb:window-inactive {
   background: #41617D !important; 
 }
  }

  .search-page-result-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #EAECED;
    }
  }

  .search-result-i-logo {
    max-height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 30px;
    }
  }

  .search-result-i-info {
    position: relative;
    width: 111px;
    overflow: hidden;

  }

  .search-result-i-rating {
    // position: absolute;
    // left: 0;
    // bottom: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    .star {
      margin-right: 2px;
    }
    .icon-svg-star {
      width: 9px;
      height: 9px;
      fill: #FFC300;
    }
  }

  .search-result-i-name {
    @extend %sm;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.14px;
    color: #757A80;
  }

  .search-page-result-i-dist {
    height: 30px;
    width: 60px;
    @extend %sl;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.13px;
    color: #757A80;
    display: flex;
    align-items: flex-end;
  }

  .search-result-i-dist__val {
    width: 40px;
    height: 30px;
    @extend %sl;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.13px;
    color: #606060;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .s-r-btn-container {
       position: absolute;
    bottom: 0;
    left: 6px;
    right: 6px;
  }

  .search-page-btn {
    width: 100%;
    @extend %sl;
    display: block;
    background-color: #54D6F0;
    border-radius: 3px;
    height: 36px;
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #ffffff;
    margin-top: 6px;
  
  }
}