<nav class="nav-2">
  <div class="container">
    <a href="" class="nav-item back-btn-general">
      <svg class="icon-svg-arr-back">
        <use xlink:href="img/sprite.svg#arr-back" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      <span>home</span>
    </a>
    <a href="" class="nav-item" ui-sref="info" ui-sref-active="active">
      <svg class="menu-icon-svg-info">
        <use xlink:href="img/sprite.svg#info" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <a href="" class="nav-item" ui-sref="menu" ui-sref-active="active">
      <svg class="menu-icon-svg-appliances">
        <use xlink:href="img/sprite.svg#appliances" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <a href="" class="nav-item" ui-sref="inst-map" ui-sref-active="active">
      <svg class="menu-icon-svg-map-marker-2">
        <use xlink:href="img/sprite.svg#map-marker-2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <a href="" class="nav-item" ui-sref="reviews" ui-sref-active="active">
      <svg class="menu-icon-svg-rating">
        <use xlink:href="img/sprite.svg#star" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
  </div>
</nav>