<nav class="nav-1">
  <div class="container">
    <a href="" ui-sref="index" class="nav-item">
      <svg class="menu-icon-svg-menu-btn-logo">
        <use xlink:href="img/sprite.svg#menu-btn-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <a href="" class="nav-item active" ui-sref="search" ui-sref-active="active">
      <svg class="menu-icon-svg-search">
        <use xlink:href="img/sprite.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <a href="" class="nav-item" ui-sref="kitchen" ui-sref-active="active">
      <svg class="menu-icon-svg-kitchen">
        <use xlink:href="img/sprite.svg#kitchen" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <a href="" class="nav-item" ui-sref="map" ui-sref-active="active">
      <svg class="menu-icon-svg-map-marker">
        <use xlink:href="img/sprite.svg#map-marker" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    <a href="" class="nav-item" ui-sref="special-offers" ui-sref-active="active">
      <svg class="menu-icon-svg-heart">
        <use xlink:href="img/sprite.svg#heart" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
  </div>
</nav>